.login-page {
    display: flex;
    height: 100vh;
  }
  
  /* Form container styling */
  .login-form-container {
    background-color: white;
    width: 50%; /* Left half of the page */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .login-title {
    color: #7D0000;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .login-form {
    width: 80%;
  }
  
  .login-input {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #dcdcdc;
    border-radius: 25px;
    font-size: 1rem;
    text-align: center;
  }
  
  .login-input::placeholder {
    color: #777;
  }
  
  .login-button {
    width: 100%;
    padding: 15px;
    background-color: #D4AF37;
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-button:hover {
    background-color: #b58f29;
  }
  
  /* Logo and right side styling */
  .logo-container {
    background-color: #7D0000;
    width: 50%; /* Right half of the page */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .logo {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
  }
  
  .university-title {
    text-align: center;
    color: white;
    font-size: 1.2rem;
  }